<!-- shows detail of each itineraries -->
<li>
	<div class="dateline"><%= dateline[:date] %></div>
	<div class="bullet primary"></div>
	
<li>
		
<% dateline[:data].each do |itinerary| %>
	<li class="itinerary">
		<div class="bullet secondary"></div>
		<div class="time">
			<%= itinerary[:meet_time] %> - <%= itinerary[:end_time] %>
			<h3><%= itinerary[:note] %></h3>
			<h4>@<%= itinerary[:location] %></h4>
		</div>
		<div class="actions">
			<%= link_to "X", itinerary_path(itinerary), :method => "delete", :class =>"btn btn-xs btn-primary"%>
			<%= button_to "Edit", edit_itinerary_path(itinerary), :method => "get", :class =>"btn btn-xs btn-primary"%>

			<a href="/events/<%= itinerary[:event_id] %>" class="btn btn-xs btn-primary">Event</a>
		</div>
	</li>
<% end %>
	

