<div class="bs-component">
	<div class="well well-sm">
	<blockquote>
	<p><strong>note: </strong><%= itinerary.note%></p>
	<p><strong>location: </strong><%= itinerary.location%></p>
	<p><strong>time: </strong><%= itinerary.meet_time.to_time.strftime('%H:%M') %></p>
	
	<p><%= button_to "Edit", edit_itinerary_path(itinerary), :method => "get" %></p>

	<p><%= button_to "Delete", itinerary, :method => "delete" %></p>
	
	</blockquote>
	</div>
</div>