<div class="bs-component">
    <div class="jumbotron">
        <h1>Hello <%= current_user.name%></h1>
        <p>Here are <%= current_user == @user ? "your" : "#{@user.email}'s" %> events.  Have fun!</p>
   	</div>
</div>    

<div class="bs-component">
    <div class="page-header">
        <% if @user.meetings.count == 0 %>
        	<p><strong><%= current_user == @user ? "You haven't" : "#{@user.email} hasn't" %>  organized any events yet.</strong></p>
        	<p><%= link_to "Organize an Event", new_event_path, :class=>"btn btn-warning btn-lg"%></p>

        <% else %>
            <h1 id="typography"> As An Organizer:</h1>
            <% @user.meetings.each do |meeting| %>
                <div class="panel-warning">
                	<%= render partial: 'events/detail', locals: {event: meeting} %>
                </div>
            <% end %>

        <% end %>
    </div>
</div>

<div class="bs-component">

        <h1 id="typography"> Events that <%= current_user == @user ? "you have" : "#{@user.email} has" %> noted participation:</h1>
        <% @user.event_users.each do |i| %>
            <div class="panel-warning">
                <%= render partial: 'events/detail', locals: {event: i.event} %>
                <div>
                    <p><strong>&nbsp;&nbsp;&nbsp;Going? </strong><%= i.going %></p>
                </div>
            </div>
        <% end %>

</div>
            

	    
