<div class="bs-component">
    <div class="jumbotron row" style="background:transparent url('/assets/desk.jpg') no-repeat center center /cover">
        <h1 class="main-user" user-id="<%=@user.id%>">Hello <%= current_user.name%></h1>
        <p>Here are <%= current_user == @user ? "your" : "#{@user.email}'s" %> events.  Have fun!</p>
        <p><%= link_to "Check out your upcoming itineraries", upcoming_user_path(@user), :class=>"btn btn-lg"%></p>
   	</div>
</div>    

<div class="bs-component">
    <h1 id="typography"> <%= current_user == @user ? "you have" : "#{@user.email} has" %> organized below events: </h1>
    <div class="organized-meetings">
<!-- to display meetings organized by this user -->
    </div>
</div>

<div class="bs-component">
    <h1 id="typography"> Events that <%= current_user == @user ? "you have" : "#{@user.email} has" %> noted participation:</h1>
    <div class="participating-events">
<!-- to display events this user is participating -->
    </div>
    
</div>
            

	    
