

<% if !@event.valid? %>
  <div class="alert-danger"><%= @event.errors.messages %></div>
<% end %>


<%= form_for(@event) do |f| %>

  <div class="form-group">
    <%= f.label :title, :class=>"col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class=>"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :location, :class=>"col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :location, :class=>"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :event_day, :class=>"col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.date_select :event_day, :class=>"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.hidden_field :organizer_id, :value=>current_user.id %>
  </div>

  <div class="form-group">
    <%= f.label :note, :class=>"col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_area :note, :class=>"form-control" %>
    </div>
  </div>

<!-- add itineraries -->
 
  <%= f.fields_for :itineraries do |itin| %>
   <legend> Add an Itinerary </legend>

   <div class="form-group">
 
    <%= itin.hidden_field :event_id, :value => @event.id, :class=>"form-control"%>
    </div>

    <div class="form-group">
    <%= itin.label :note, :class=>"col-lg-2 control-label"  %>
      <div class="col-lg-10">
      <%= itin.text_field :note, :class=>"form-control"  %><br>
      </div>
    </div>
    
    <div class="form-group">
    <%= itin.label :location, :class=>"col-lg-2 control-label" %>
      <div class="col-lg-10">
      <%= itin.text_field :location, :class=>"form-control"  %><br>
      </div>
    </div>

    <div class="form-group">
    <%= itin.label :meet_time, :class=>"col-lg-2 control-label"  %>
      <div class="col-lg-10">
      <%= itin.time_select :meet_time, :class=>"form-control"  %><br>
      </div>
    </div>

  <% end %>

  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>

