<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Event Title</th>
			<th>Going</th>
			<th>Maybe</th>
			<th>No</th>
		<tr>
	</thead>
	<tbody>
		<% @results.each_with_index do |result, i| %>
			<% @e = Event.find(result[:event_id]) %>
		<tr class="info">
			<td><%= i + 1 %></td>
			<td><%= link_to @e.title, event_path(@e) %></th>
			<td><span class="badge"><%= result[:stats][0][:value]%></span></td>
			<td><span class="badge"><%= result[:stats][1][:value]%></span></td>
			<td><span class="badge"><%= result[:stats][2][:value]%></span></td>
		</tr>
		<% end %>
	</tbody>
</table>
