
<!-- Event Information -->
<div class="bs-component">
    <div class="page-header">
        <h1 class="eventTitle" user-id="<%=current_user.id%>"><%= @event.title.capitalize %></h1>
        <button class="js-next" data-id="<%=@event.id%>">Next Event</button>

        <!-- showing stats of participants -->
        	<ul class="nav nav-pills">
                <% (0..2).each do |i| %>
                    <li class="btn btn-warning btn-xs <%= 'faded' if @stats[3][:status] != @stats[i][:status] %>" >
                        <%= form_for @event_user do |f| %>
                        <%= f.hidden_field :event_id, :value =>@event.id %>
                        <%= f.hidden_field :going, :value => @stats[i][:status] %>
                        <%= f.submit @stats[i][:status], :method => "POST", :class => "btn btn-warning" %>
                        <span class="badge"><%= @stats[i][:value]%></span>
                        <% end %>
                    </li>                  
                <% end %>
        	</ul>
        <p class="organizer"><strong>Organized by:</strong> <%= @event.organizer.email%></p>
       
        <p class="details"><strong>Details:</strong> <%= @event.note %></p>

<!-- Event Update & Itinerary -->

        <% if current_user && current_user == @event.organizer %>
            <p><%= link_to "Edit This Event ", edit_event_path(@event) %>
            <%= button_to "Delete", @event, :method => "delete" %>
            </p>
        <% end %>
  	</div>
 </div>
<!-- Itineraries -->
<div class="bs-component">
    <div class="page-header">
        <h1 id="typography">Itineraries: </h1><%= link_to "All Itineraries", event_itineraries_path(@event) %>
        | <%= link_to " Add Itinerary", new_event_itinerary_path(@event)%>

<!-- render all Itineraries for this event -->
        <% if @itineraries.nil? %>
            <p> No itineraries yet. </p>
        <% else %>
            <table class="table table-striped table-hover">
                <tbody>
                    <% @itineraries.each do |itinerary| %>
                        <%= render partial: 'itineraries/show', locals: {itinerary: itinerary }%>
                    <% end %>
                </tbody>
            </table>
        <% end %>
    </div>
</div>
<!-- Comments from users -->
<div class="bs-component">
    <div class="page-header">
        
<!--         <% if current_user %>
        
            <input type="text" id="new-comment">
            <button class="add-comment btn-info">Add Comment</button>
    
        <% end %> -->
        <button class="load-comments btn-info">Load Comments</button>
        <div class="comments">
        <!-- to load comments handlebar template -->
        </div>
    </div>
</div>
        

