<!-- Event Information -->
<header style="background-image: url('https://s3.us-east-2.amazonaws.com/let-us-go/events/<%= @event.image%>.jpg')">
    <div class="header-content">
        <div class="header-content-inner">
        <h1 style="font-size: 58.9167px;" class="event-title"  max-id="<%=Event.last.id%>" event="single" user-id="<%=current_user.id if current_user%>"><%= @event.title.capitalize %></h1>
        <button class="js-next btn btn-primary btn-lg" data-id="<%=@event.id%>">Next Event</button>
        <a href="<%=@event.id%>/edit" class="btn btn-primary btn-lg edit-event">Edit</a>
        <p class="organizer"></p>
        <p class="details"></p>
        <div class="stats">
                <!-- showing stats of participants -->
        </div>
        
  	</div>
 </header>

<!-- Itineraries & Comments Tabs -->
<section class="no-padding">
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-toggle="tab" href="#itineraries" aria-controls="itineraries">Itineraries</a></li>
            <li role="presentation"><a data-toggle="tab" href="#comments" aria-controls="comments">Comments</a></li>
        </ul>

        <div class="tab-content">
            <div id="itineraries" role="tabpanel" class="load-itineraries tab-pane fade in active">
                
                <div class="itineraries">
                <!-- to load itinerary handlebar template -->
                </div>
                <button class="view-itineraries btn btn-primary btn-xs">Update Itineraries</button>
            </div>
        

        <!-- Comments from users -->
            <div id="comments" role="tabpanel" class="load-comments tab-pane fade">
            <input type="text" id="new-comment">
            <button class="add-comment btn-xs btn-info">Add Comment</button>
            <div class="comments">
            <!-- to load comments handlebar template -->
            </div>
        </div>
    </div>
</section>
        

