
<!-- Event Information -->
<div class="bs-component" >
    <div class="jumbotron row" style="background:transparent url('/assets/to-do.jpg') no-repeat center center /cover">
        <h1 class="event-title"  max-id="<%=Event.last.id%>" event="single" user-id="<%=current_user.id if current_user%>"><%= @event.title.capitalize %></h1>
        <button class="js-next btn-xs btn-info" data-id="<%=@event.id%>">Next Event</button>
        <a href="<%=@event.id%>/edit" class="btn-xs btn-info edit-event">Edit</a>
        
        <p class="organizer"></p>
        <p class="details"></p>
        <div class="stats">
                <!-- showing stats of participants -->
        </div>
        
  	</div>
 </div>

<!-- Itineraries -->
<div class="bs-component">
    <h1 id="typography">Itineraries: </h1>
    <button class="load-itineraries btn-xs btn-info">Load Itineraries</button>
    <button class="add-itinerary btn-xs btn-info">Add Itinerary</button>
    <div class="itineraries">
    <!-- to load itinerary handlebar template -->
    </div>
</div>

<!-- Comments from users -->
<div class="bs-component">
    <h1 id="typography">Comments: </h1>
    <button class="load-comments btn-xs btn-info">Load Comments</button>
    <div class="comments">
    <!-- to load comments handlebar template -->
    </div>
</div>
        

