
<!-- Event Information -->
<div class="bs-component" >
    <div class="page-header">
        <h1 class="event-title"  max-id="<%=Event.last.id%>" event="single" user-id="<%=current_user.id if current_user%>"><%= @event.title.capitalize %></h1>
        <button class="js-next btn btn-info" data-id="<%=@event.id%>">Next Event</button>
        <% if current_user && current_user == @event.organizer %>
            <%= link_to "Edit This Event ", edit_event_path(@event), class: "btn btn-info" %>
            <%= button_to "Delete", @event, :method => "delete", class: "btn btn-info" %>
        <% end %>
        <div class="event-info">
            <p class="organizer"></p>
            <p class="details"></p>
        </div>
        <div class="stats">
                <!-- showing stats of participants -->
        </div>
        
  	</div>
 </div>

<!-- Itineraries -->
<div class="bs-component">
    <h1 id="typography">Itineraries: </h1>
    <button class="load-itineraries btn btn-info">Load Itineraries</button>
    <button class="add-itinerary btn btn-info">Add Itinerary</button>
    <div class="itineraries">
    <!-- to load itinerary handlebar template -->
    </div>
</div>

<!-- Comments from users -->
<div class="bs-component">
    <h1 id="typography">Comments: </h1>
    <button class="load-comments btn btn-info">Load Comments</button>
    <div class="comments">
    <!-- to load comments handlebar template -->
    </div>
</div>
        

