{{#if events}}
	{{#each events}}
	  <div class="col-lg-4 col-sm-6">
	  	<h3>{{attributes.title}}</h3>
	  	<div class="portfolio-box" onClick="return true">
            <img src="https://s3.us-east-2.amazonaws.com/let-us-go/events/{{attributes.image}}.jpg" class="img-responsive" alt="event picture">
            <div class="portfolio-box-caption">
            	<div class="portfolio-box-caption-content">
            		<div class="project-name">
						<h2>Note: {{attributes.note}}</h2>
						<h3>Organized by: {{attributes.organizer.email}}</h3>
						{{#if attributes.going}}
							Are you going? {{attributes.going}}
						{{/if}}
					</div>
					<a href="/events/{{id}}" class="btn btn-primary btn-lg">View</a>
				</div>
			</div>		
		</div>
	   </div>
	{{/each}}
{{else}}
	<div><p>no event yet</p></div>
{{/if}}


