{{#if events}}
	{{#each events}}
	  <div class="col-lg-4 col-sm-6">
	  	<a class="portfolio-box" href="/events/{{id}}">
	  		<h2>{{attributes.title}}</h2>
            <img src="/assets/events/{{id}}.jpg" class="img-responsive" alt="event picture">
            <div class="portfolio-box-caption">
            	<div class="portfolio-box-caption-content">
            		<div class="project-name">
						<h2>Note: {{attributes.note}}</h2>
						<h3>Organized by: {{attributes.organizer.email}}</h3>
						{{#if attributes.going}}
							<span class="badge">{{attributes.going}}</span>
						{{/if}}
					</div>
				</div>
			</div>		
		</a>
	   </div>
	{{/each}}
{{else}}
	<div><p>no event yet</p></div>
{{/if}}


